<%= simple_form_for(@square) do |f| %>
    <%= f.error_notification %>
    <%= hidden_field_tag(:type, params[:type]) %>

    <div class="form-inputs">
      <%= f.input :text %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>
